body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    height: 540px;
    width: 630px;
    border: 5px solid navy;
    background: #3e3efa;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;
    background-color: white;
    border: 5px solid navy;
    border-radius: 50%;
}

.x-piece {
    background: red;
}

.o-piece {
    background: yellow;
}